<html>
    <head>
        <style>
            .hezi {
                border: 25px solid green;
                padding: 25px;
                margin: 25px;
                width: 80%;
            }
            .fix{
                position: fixed;
                top: 30px;
                right: 30px;
                width: 50px;
                border: 10px solid green;
            }
        </style>
    </head>
    <body>
        <div class="hezi"></div>
        <div class="hezi"></div>
        <h1> 1111 </h1>
        <div class="fix">
            <h1>fix</h1>
        </div>
    </body>
</html>